@media (max-width: 440px){
    section{
        flex-direction: column;
        text-align: center;

    }

    body{
        width: 100%;
    }

    .my__picture{
        margin-top: 3rem;
    }

    .paragrafo{
        width: 90%;
        text-align: center;
    }
}    